<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tienda ACM</title>

        <style>
            /* Indicar font-family, buscar fuente adecuada para esto */
            body{
                background: lightblue;
                margin: 0;
                padding: 0;
            }
            /* clase que contiene la foto y los enlaces a otras paginas */
            .navbar{
                display: flex;
                margin: 0;
                background: darkcyan;
            }
            /* clase de la caja que contiene el logotipo */
            /*.logo{
                width: 20%;
                height: 5vh;
            }*/
            /* clase de la imagen del logotipo de la empresa o tienda */
            .logotipo{
                margin-top: 5px;
                width: 100px;
                height: 90px;
            }
            /* clase que contiene la lista desordenada de los enlaces*/
            .menu{
                display: flex;
                align-items: center;
                padding: 5px 10px;
            }
            /* clase para la lista de los enlaces */
            .navegacion{
                display: flex;
                width: 100%;
                
            }
            ul{
                list-style: none;
            }
            li{
                font-size: 20px;
                margin-left: 5px;
                margin-right: 10px;
            }
            .menu a{
                text-decoration: none;
                color: lightgrey;
                font-size: 20px;
            }
            /* clases asociadas a el cuerpo de la pagina de inicio */
            .cuerpo_inicio{
                margin-top: 30px;
                align-items: center;
                text-align: center;
                justify-content: center;
                
            }
            .servicios{
                display: flex;
                justify-content: center;
                margin: 10px;
            }
            .servicio{
                width: 33%;
                margin: 5px 10px;
                padding: 10px 10px;
                border: solid 2px;
                /* background: lightgrey; */
                background: darkgrey;
                color: rgb(0, 100, 100); /* color provisional*/
            }
            .servicio img{
                height: 160px;
            }
            .servicio h3{
                font-size: 20px;
                letter-spacing: .7px;
            }
            .servicio p{
                color: lightgoldenrodyellow;
                font-size: 17px;
                letter-spacing: 1px;
            }
        </style>

        

        
    </head>
        {{{body}}}
</html>