<html>
    <head>
        <title>inicio</title>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" class="logotipo">
            </div>
            <div class="menu">
                <ul class="navegacion">
                    <!-- <li><a href=""></a></li> -->
                    <!-- <li><a href="inicio.html">INICIO</a></li> -->
                    <li><a href="tienda">TIENDA</a></li>
                    <li><a href="vender">VENDER</a></li>
                    <li><a href="registro">REGISTRARSE</a></li>
                    <li><a href="ini_ses">INICIAR SESION</a></li>
                    <li><a href="soporte">SOPORTE</a></li>
                    <!-- Plantear diferencias entre mantener soporte englobando a asistencia
                    o separarlos para por ejemplo tener dentro de soporte las reparaciones
                    y dentro de asistencia la asistencia telematica y viceversa-->
                    
                    <!-- Diferenciar entre la idea inicial de soporte y 'Contacto' -->
                    <!-- El soporte contiene las formas de asisitecia informatica y telefonica
                    añadir formas rapidas de contactar al asistente, ya sea un nº de telefono o un chat, al cual acceder
                    opciones principales: whatsapp o discord -->
                    <li><a href="contacto">CONTACTO</a></li>
                </ul>
            </div>
        </div>
        <div class="cuerpo_inicio">
            <div class="servicios">
                <div class="servicio">
                    
                    <a href="asistencia"><img src="images/asistencia-tel.png" alt="asistencia tecnica"></a> <!-- href="asistencia_tecnica" -->
                    <h3>ASISTENCIA TECNICA GRATUITA PARA LOS CLIENTES</h3>
                    <p>Asistimos a nuestros clientes con problemas técnicos o de cualquier tipo tengan con nuestros productos</p>
                </div>
                <div class="servicio">
                    
                    <a href="reparaciones"><img src="images/asistencia-fis.png" alt="asistencia fisica"></a> <!-- href="reparaciones" -->
                    <h3>SERVICIO DE REPARACION A DOMICILIO</h3>
                    <p>Ofrecemos el servicio de reparacion a domicilio para nuestros productos, (el cliente puede especificar si enviar el producto a nuestra empresa o pedir la reparacion a domicilio)</p>
                </div>
                <div class="servicio">
                    
                    <a href="vender"><img src="images/vender.png" alt="vender"></a> <!-- href="tienda del cliente" -->
                    <h3>SERVICIO DE VENTA DE PRODUCTOS POR PARTE DEL CLEINTE</h3>
                    <p>El cliente puede vender productos propios en nuestra tienda, siempre y cuando los productos estén relacionados con la informática</p>
                </div>
            </div>
            <div class="servicios">
                <div class="servicio">
                    
                    <a href="tienda"><img src="images/tienda.png" alt="comprar productos"></a>
                    <h3>SERVICIO DE COMPRAVENTA DE PRODUCTOS INFORMÁTICOS</h3>
                    <p>Ofrecemos diversos productos de informática a nuestros clientes, además de vender sistemas operativos</p>
                </div>
                <div class="servicio">
                    
                    <a href="montaje"><img src="images/montaje.png" alt="servicio de montado de equipos"></a>
                    <h3>MONTAJE DE EQUIPOS INFORMÁTICOS</h3>
                    <p>Los clientes pueden montar sus propios equipos informáticos, ya sean PC de sobremesa o portatiles, ayudamos en la medida de lo posible a nuestros clientes a la hora de montar el producto, ya sea usando videos u ofreciendo el servicio de montar nosotros mismos el producto y enviarlo a domicilio.</p>
                </div>
                <div class="servicio">
                    
                    
                    <a href="instalaciones"><img src="images/instalaciones.png" alt="instalacion de sistemas operativos"></a>
                    <h3>SERVICIO DE INSTALACION DE SISTEMAS OPERATIVOS</h3>
                    <p>Si compras todos los productos necesarios para montar un equipo y un sistemas operativo para instalarlo tras el montaje, puedes pedirnos que instalemos el sistema operativo por ti, o directamente que montemos todo el equipo incluyendo el sistema operativo</p>
                </div>
            </div>
        </div>
    </body>
</html>