<html>
    <head>
        <style>

        </style>
    </head>
    <body>
            <div class="navbar" style="background: darkcyan;">
            <div class="logo">
                <img src="images/logo.png" alt="falta logo" class="logotipo">
            </div>
            <div class="menu">
                <ul class="navegacion">
                    <li><a href="inicio">INCIO</a></li>
                    <li><a href="tienda">TIENDA</a></li>
                    <li><a href="vender">VENDER</a></li>
                    <li><a href="ini_ses">REGISTRARSE</a></li>
                    <li><a href="ini_ses">INICIAR SESION</a></li>
                    <li><a href="soporte">SOPORTE</a></li>
                    <li><a href="contacto">CONTACTO</a></li>
                </ul>
            </div>
        </div>


    </body>
</html>