<html>
    <head>
        <style>
            /* recordatorio:
            todos los tamaños width y height deben ser adaptado para ser responsive,
            tener en cuenta eso a la hora de cambiar el tamaño de la ventana o pantalla
            
            */

           
            .search{
                border-radius: 25px;
                width: 100%;
                background: rgb(4, 168, 86);
                color: white;
                font-size: 20px;
            }
            .recuadro{
                display: flex;
                align-items: center;
            }
            .search input{
                width: 47%;
                font-size: 19px;
                border-radius: 15px;
                padding:5px 10px;
                margin: 20px 80px 20px 170px;   
            }
            .buscar{
                font-size: 27px;
                border: none;
                background:rgb(4, 168, 86);
                color: white;
            }
            .cuerpo{
                display: flex;
                
            }
            ul{
                list-style: none;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                width: 100%;

            }
            a{
                color: silver;
                font-weight: bold;
                font-size: 20px;
            }
            .cargar{
                border: solid 0.5px;
                border-radius: 4px;
                font-size: 20px;
                font-weight: bold;
                width: 10rem;
                height: 3rem;
            }
            /* #desplegable{
                border: 0px;
                background: white;
            } */

            /* Nota:
            si modificamos el width de listaGenero, tambien debemos
            adaptar el width de listaProd, por eso los he puesto juntos
            AÑADIR VERSION RESPONSIVE, HAY QUE ARREGLAR COMO SE VEN LOS PRODUCTOS EN PANTALLA COMPLETA
             */
             .listaGenero{
                width: 20%;
            }
            .listaProd{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 70%;
                /* width: 55%; responsive para menos de 720px */
                /* width: 70%; responsive para mas de 720px */
            }
            .producto{
                border: solid 2px black;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 33%;
                /* width: 33%; responsive para 720px o menos */
                /* width: 28%; responsive para mas de 720px */
                height: auto;
                height: 45vh;
                /* height: 40vh; responsive para 720px o menos */
                /* height: 30vh; responsive para mas de 720px */
                margin: 5px 10px 15px;
                padding: 10px 0px;
            }
            
            .producto img{
                width: 160px;
                height: 140px;
            }
            .producto .icono{
                width: 30px;
                height: 30px;
                position: absolute;
                margin-top: 320px;
                cursor: pointer;
                border: solid 1px;
            }
            /* .producto .decrip{
                padding-bottom: 90px;
            } */
            .menuOpcional{
                display: none;
                position: absolute;
                top: 15rem;
                right: 3rem;
                border: solid 1px;
                background: lightsalmon;
            }
            .opciones{
                text-align: left;
                align-items: center;
                justify-content: space-between;
                margin-left: -10px;
                margin-right: 15px;
            }
            .opciones label{
                display: block;
            }
            #filtro_comps{
                style="display: none"
            }
            #ima_prod{
                border: solid 1px;
            }
            
        </style>

    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt="falta logo" class="logotipo">
            </div>
            <div class="menu">
                <ul class="navegacion">
                    <li><a href="inicio">INICIO</a></li>
                    <li><a href="vender">VENDER</a></li>
                    <li><a href="registro">REGISTRARSE</a></li>
                    <li><a href="ini_ses">INICIAR SESION</a></li>
                    <li><a href="soporte">SOPORTE</a></li>
                    <li><a href="contacto">CONTACTO</a></li>
                </ul>
            </div>
        </div>
        <div class="search">
            <div class="recuadro" style="display: flex;">
                <i></i>
                <input type="text" id="buscador" autofocus>
                <button class="buscar" onclick="buscando()">Buscar</button>
            </div>
        </div>
        
        <button class="cargar" onclick="vermenu()">Ver Menú de ayuda</button>
        <form class="cuerpo" method="post">
            <div class="izquierda listaGenero">
                <div style="margin: 10px;">
                    <h2>Filtrar Productos</h2>
                        <select id="filtro_eq_com" onchange="filtrar()">
                            <option value="equipos">equipos</option>
                            <option value="comp">componentes</option>
                        </select>
                        <p></p>
                        {{!-- El filtro se hace mediante javascript, pero como no esta acabado se indica por console y no por pantalla --}}
                        <select id="filtro_comps" onchange="filtrarComp()">
                            <option value="placa_base">Placa Base</option>
                            <option value="procesador">Procesador</option>
                            <option value="RAM">Memoria RAM</option>
                            <option value="fuente">Fuente de alimentación</option>
                            <option value="HDD">Disco Duro HDD</option>
                            <option value="SSD">Disco Duro SSD</opti>
                            <option value="grafica">Tarjeta Gráfica</option>
                            <option value="carcasa">Carcasa</option>
                            <option value="CD">Lector CD</option>
                            <option value="ventilador">Ventilador Auxiliar</option>
                            <option value="pantalla">Pantalla</option>
                            <option value="raton">Ratón</option>
                        </select>
                        <p></p>
                </div>
            </div>
            <div class="medio listaProd" id="listaProd">
                {{!-- La idea principal es rellenar este espacion con una consulta, pero por ahora se rellena usando javascript --}}
            </div>
            <div class="derecha menuOpcional" id="menuOpcional">
                <ul class="opciones" id="lista"><h3>Componentes</h3>
                    <label><input type="checkbox" id="placa_base" disabled>Placa Base</label>
                    <label><input type="checkbox" id="procesador" disabled>Procesador</label>
                    <label><input type="checkbox" id="RAM" disabled>Memoria RAM</label>
                    <label><input type="checkbox" id="fuente" disabled>Fuente de alimentación</label>
                    <label><input type="checkbox" id="HDD" disabled>Disco Duro HDD</label>
                    <label><input type="checkbox" id="SSD" disabled>Disco Duro SSD</label>
                    <label><input type="checkbox" id="grafica" disabled>Tarjeta Gráfica</label>
                    <label><input type="checkbox" id="carcasa" disabled>Carcasa</label>
                    <label><input type="checkbox" id="CD" disabled>Lector CD (opcional)</label>
                    <label><input type="checkbox" id="ventilador" disabled>Ventilador Auxiliar (opcional)</label>
                    <label><input type="checkbox" id="pantalla" disabled>Pantalla (solo torre)</label>
                    <label><input type="checkbox" id="raton" disabled>Ratón (solo torre)</label>
                </ul>
            </div>
        </form>

        <script src="javascripts/script.js"></script>
        <script src="javascripts/buscar.js"></script>
        
    </body>
</html>